<h1>Editing Note</h1>

<%= form_for(@task) do |f| %>
<%= f.label :title %>
<%=f.text_field :title %><br>

<%= f.label :content %>
<%=f.text_field :content %><br>

<%= f.label :time %>
<%= f.date_field :time %><br>
 <%= f.submit %>

<% end %> 

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>